/*GLOBAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
:root{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    flex-direction: column;


    font-size: 1.25rem;
    line-height: 1.6;
    background-image: url(../image\ \(1\).png);
    background-repeat: no-repeat;


    font-family: 'Roboto', sans-serif;
} 

/*HEADER*/

header{
    /* width: 100vw; */
    background: #1e2033;
    color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: space-between;
    place-items: center;

    padding: 1.0rem 1.5rem;
    height: 70px;
} 
header .miniLogo{
    transition: all 0.5s;
    cursor: pointer;
}
header .miniLogo:hover{
    -webkit-transform: scale(1.5);
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    transform: scale(1.5);
}
header a{
    background-image: linear-gradient(135deg,rgba(44,151,222,.25),rgba(44,151,222,0));
    cursor: pointer;
    display: flex;
    place-items: center;

    color: rgb(255, 255, 255);

    gap: 1rem;
    text-decoration: none;

    padding: 1.0rem;
    border-radius: 4px;
    margin-right: 1.5rem;
    
}
header a:hover{
    background-image: linear-gradient(135deg,rgba(0, 38, 255, 0.25),rgba(255, 255, 255, 0));
} */

/*IMAGE*/

#png span{
   margin-left: 80px; 
   color: #ffffff;
}
#png{
    background-repeat: no-repeat;
    /* height: 444px; */
    display: flex;
    place-items: center;
}

/*SECTION*/
.sectionFundo{
    display: grid;
}
#titleIcones{
    display: flex;
    justify-content: space-between;
    place-items: center;

    background-color: #7668cb;
    color: white;

    /* height: 66px; */
    padding: 0px 8px;
}
#titleIcones ul{
    display: flex;
    gap: 30px;

}
#titleIcones a{
    padding: 0px 8px;
    cursor: pointer;
    display: flex;
    place-items: center;
    color: #b0a4fc;
    gap: 1rem;
    text-decoration: none;
    list-style: none;

    transition: all 0.5s;
}
#titleIcones a:hover{
    color: white;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));

}

/* title_category */

.title_category{
    color: white;
    background-color: #0a0d1d;
    background-image: url(https://csgo.net/public/video/blue_header.webp?v=2);
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    text-align: center;
    font-weight: 700;
    /* font-family: 'Russo One', sans-serif; */
    font-size: 16px;
    
}

/* ARMAS*/
#conteinerArmas{
    background-color: #080a19;
}
#conteinerArmas ul{
    padding: 3px;   
    text-align: center;
    margin-bottom: 20px;
}
.skin-covert li{
    list-style: none;
}
.skin-covert{
    cursor: pointer;
    background: radial-gradient(50% 50% at 50% 50%,#383f5e 0,#1e2339 100%);
    border: 2px solid #383f5e;
    padding: 10px;

    display: inline-flex;
    align-items: center;
}
/* #conteinerArmas ul li{
    display: inline-flex;
    margin: 0px 8px;
} */


/* CONTEINER-CAIXAS */
.conteinerCaixas{
    text-align: center;
    background-color: #080a19;
}
.conteinerCaixas .caixa1,.caixa2,.caixa4,.caixa5,.caixa5{
    margin: 12px;
}


/*INF-PAGINA*/
.infPagina{
    background-color: #080a19;
    color: #ffffff;
    display: grid;
    height: 440px;
    text-align: center;
}
.infPagina h2{
    align-self: center;
}

/*FOOTER*/  
footer .rodape{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#sobreContato{
    padding: 6px;
    width: 150px;
}
#sobreContato a{
    color:white;
    text-decoration: none;
}

#patrocinio{
    color: white;
    display: grid;
    text-align: center;
    width: 400px;
}
#patrocinio ul{
    list-style: none;
}
#patrocinio ul li a{
    text-decoration: none;
    color: white;
}

@media(max-width:768px){
    nav p{
        display: none;
    }
    #png span{
        display: none;
    }
    #png{
        display: grid;
        place-content: center;
    }

    .sectionFundo #titleIcones{
        display: grid;
        justify-content: center;
    }
    .sectionFundo #titleIcones .loginSteam{
        margin-top:1rem;
    }
    .sectionFundo .title_category{
        visibility: hidden;
        display: none;
    }
    .sectionFundo #conteinerArmas {
        visibility: hidden;
        display: none;
    }
}

@media(max-width:540px){
    header p{
        display: none;
    }
    .iconPrats img{
        width: 400px;
    }
    .sectionFundo #titleIcones ul{
        display: grid;
        gap: 15px;
        padding: 5px;
    }
    .sectionFundo #titleIcones .loginSteam{
        display: none;
    }
}

@media(max-width:400px){
    .iconPrats img{
        width: 280px;
    }
    header a{
        padding: 0.6rem;
    }
}



