/*GLOBAL*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
:root{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    background-image: url(../complementos/hd-wallpapers.png);

    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
nav{
    background: #1e2033;
    color: rgb(255, 255, 255);
    
    display: flex;
    justify-content: space-between;
    place-items: center;

    padding: 1.0rem 1.5rem;
    height: 70px;
}
nav a{
    background-image: linear-gradient(135deg,rgba(44,151,222,.25),rgba(44,151,222,0));
    cursor: pointer;
    display: flex;
    place-items: center;

    color: rgb(255, 255, 255);

    gap: 1rem;
    text-decoration: none;

    padding: 1.1rem;
    border-radius: 4px;
    
}
nav a:hover{
    background-image: linear-gradient(135deg,rgba(0, 38, 255, 0.25),rgba(255, 255, 255, 0));
}

/*IMAGE*/

#png span{
   margin-left: 80px; 
   color: #ffffff;
}
#png{
    background-repeat: no-repeat;
    height: 444px;
    display: flex;
    place-items: center;
}

/*SECTION*/

#titleIcones{
    display: flex;
    justify-content: space-between;
    place-items: center;

    background-color: #7668cb;
    color: white;

    height: 66px;
    padding: 0px 8px;
}
#titleIcones ul{
    display: flex;
    gap: 30px;

}
#titleIcones a{
    padding: 0px 5px;
    cursor: pointer;
    display: flex;
    place-items: center;
    color: rgb(255, 255, 255);
    gap: 1rem;
    text-decoration: none;
    list-style: none;
}



/* ARMAS */
#conteinerArmas{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 8px;   
    background-color: #080a19;
    height: 330px;
}
#conteinerArmas .Facas,.AWP,.Pistolas,.Smg,.Escopetas,.Rifles{
   background-color: #048624;
   height: 266px;
   margin-top: 25px;
}


/* CONTEINER-CAIXAS */
.conteinerCaixas{
    text-align: center;
    background-color: #080a19;
}
.conteinerCaixas .caixa1,.caixa2,.caixa4,.caixa5,.caixa5{
    margin: 12px;
}


/*INF-PAGINA*/
.infPagina{
    background-color: #080a19;
    color: #ffffff;
    display: grid;
    height: 440px;
    text-align: center;
}
.infPagina h2{
    align-self: center;
}

/*FOOTER*/  
footer .rodape{
    background-color: #272626;
    height: 43vh;
    display: flex;
    
}
#sobreContato{
    background-color: white;
    padding: 6px;
}
#patrocinio{
    background-color: #048624;
    display: grid;
    text-align: center;
}


/* UPGRADE MODAL*/

.screen2.open{
    opacity: 1;
    visibility: visible;
}

.screen2{
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: grid;
    place-content: center;
    
    opacity: 0;
    visibility: hidden;
}
.modal{
    padding: 30px;
    background: rgb(245, 245, 245);
    width: 35.8rem;
}

